<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="configure" xsi:type="object">Antonshell\OrdersWebhooks\Console\Configure</item>
                <item name="sendWebhooks" xsi:type="object">Antonshell\OrdersWebhooks\Console\SendWebhooks</item>
                <item name="clearWebhooks" xsi:type="object">Antonshell\OrdersWebhooks\Console\ClearWebhooks</item>
                <item name="createAllOrdersWebhooks" xsi:type="object">Antonshell\OrdersWebhooks\Console\CreateAllOrdersWebhooks</item>
            </argument>
        </arguments>
    </type>
</config>