<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="OrdersWebhooks" instance="Antonshell\OrdersWebhooks\Observer\MOrderSaveObserver" />
    </event>
    <event name="sales_order_delete_after">
        <observer name="OrdersWebhooks" instance="Antonshell\OrdersWebhooks\Observer\MOrderDeleteObserver" />
    </event>

</config>
